@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ucsd-navy: #003b5c;
  --ucsd-gold: #c69214;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ucsd-navy: var(--ucsd-navy);
  --color-ucsd-gold: var(--ucsd-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
